/* Write your CSS here */
.mytab_btn {
  cursor: pointer;
  padding: 15px;
  font: normal normal 18px 'Bree Serif';
  color: #7b8794;
  border: none;
  border-bottom: 2px solid #dfe2e5;
  background-color: transparent;
}
.active {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}
